<h1>Welcome <%= @user.name %></h1>

<h3>Current Item Listed for Sale</h3>
<ul>
    <% @user.items.each do |item| %>
    <li><%= link_to item.name, user_item_path(@user, item) %> - $<%= item.price%></li>
    <% end %>
</ul>

<%= link_to "Create a Listing", new_user_item_path(@user) %>
