    <% if @errors && !@errors.empty? %>
    <div class="errors">
        <div class="thumbnail">
                <% @errors.each do |error| %>
                    <p><%= error %></p>
                <% end %>
            <% end %>
        </div>
    </div>