<div class="title-container">
   <div class="thumbnail">
      <h1><%= title_helper %></h1>
   </div>
   <%= sort_buttons? %>
      
</div>

   <%= render 'all_items'%>

   <%= search_back_button %>

            

