<div class="title-container">
   <div class="thumbnail">
      <h1>Shop All Items</h1>
   </div>
      <div class="thumbnail">
         <h4><%= sortable "name", "Sort by Name" %></h4>
      </div>
      <div class="thumbnail">
         <h4><%= sortable "price", "Sort by Price" %></h4>
      </div>
      <div class="thumbnail">
         <h4><%= sortable "created_at", "Sort by Newest" %></h4>
      </div>
</div>

   <%= render 'allitems'%>
            

