/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
    
    html,
    body {  
        height: 100%; 
        background: url("tree-hanging-sale-tags v4.jpg") no-repeat center center fixed;    
        -webkit-background-size: cover; 
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-y: scroll;
        color: rgb(30, 60, 124);
    }

    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h1 {
            margin: 0px;
            
        }
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .item {
        width: 30%;
        min-width: 300px;
    }

    .thumbnail {
        box-shadow: 3px 3px 4px #68686e;
        border-radius: 10px;
    }

    .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .category {
        width: 30%;
        min-width: 300px;
    }

    .form-group {
        width: 45%;

        .signup {
            width: 50%;
        }
        
        .login {
            width: 50%;
            margin-bottom: 1%;
        }
    }

    .btn {
        margin-bottom: 1%;
    }