/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
    
    html,
    body {  
        height: 100%; 
        background: url("IMG_2904.JPG") no-repeat center center fixed;    
        -webkit-background-size: cover; 
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-y: scroll;
        color: #082c6f;
    }

    .jumbotron my-4 {
        position: relative;
        background-color: ffffff;
    }

    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h1 {
            margin: 0px;
            
        }
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .item {
        width: 31%;
        min-width: 300px;
    }

    
    .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .category {
        width: 30%;
        min-width: 300px;
    }
    
    .thumbnail {
        box-shadow: 4px 4px 9px #313135;
        border-radius: 3px;
        margin-bottom: 15px;
    }
    
    .form-group {
        width: 45%;

        .signup {
            width: 50%;
        }
        
        .login {
            width: 30%;
            margin-bottom: 1%;
        }
    }

    .btn {
        //padding: 5px;
        font-size: 20px;
        margin-top: 2%;
        margin-bottom: 1%;
        color: #082c6f;
    }

    .btn-success {
        background-color: #45e07b;
        border-color: #4cae4c;
    }

    .btn-secondary {
        font-size: 25px;
    }

    .card-title {
        color: rgb(246, 248, 250)
    }

    .card-text {
        color: rgb(246, 248, 250)
    }

    a {
        color: #0046ca;
        text-decoration: none;
    }

    .container {
        padding-left: 0px;
    }

    .navbar {
        width: 100%;
    }